#forgeViewer .viewcubeWrapper {
  top: 0px !important;
  left: 350px !important;
}

#forgeViewer #ViewerModelStructurePanel {
  left: auto !important;
  right: 20px !important;
  top: auto !important;
  bottom: 80px !important;
  height: 400px !important;
}

#forgeViewer #ViewerPropertyPanel {
  left: auto !important;
  right: 20px !important;
  bottom: 80px !important;
  top: auto !important;
  width: 300px !important;
  height: 400px !important;
}
