@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

body,
html {
  font-size: 15px;
  @media (max-width: 900px) {
    font-size: 14px;
  }
  @media (max-width: 700px) {
    font-size: 13px;
  }
  @media (max-width: 600px) {
    font-size: 12px;
  }
  @media (max-width: 500px) {
    font-size: 11px;
  }
  @media (max-width: 400px) {
    font-size: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer components {
  .glass-block {
    @apply bg-white/80 backdrop-blur-sm border border-white/50 shadow-block;
  }
}
